openapi: 3.1.0
info:
  title: Aligned News REST Bundles News Feed API
  description: 'Read-only REST API for the Aligned News AI intelligence platform.


    The API exposes Aligned News'' Stories, Signals, Reports, Bundles, the

    section-grouped news feed, and full-text search. All endpoints require an

    API key passed as `Authorization: Bearer alnw_...`. API keys are issued to

    Pro and Enterprise subscribers from their account page at

    https://alignednews.com/account.


    Note: this specification was reconstructed by inspecting the Aligned News

    web application bundle and the published MCP server reference implementation

    (https://alignednews.com/mcp-server.ts). The provider does not currently

    publish a machine-readable API description.

    '
  version: 1.0.0
  contact:
    name: Aligned News
    url: https://alignednews.com/developers
  license:
    name: Aligned News Terms of Service
    url: https://alignednews.com/
servers:
- url: https://alignednews.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: News Feed
  description: All current stories grouped by section.
paths:
  /news-feed:
    get:
      tags:
      - News Feed
      summary: Get News Feed
      description: Retrieve all current stories grouped by section.
      operationId: getNewsFeed
      parameters:
      - name: limit
        in: query
        description: Maximum number of stories per section.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Stories grouped by section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsFeedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    NewsFeedResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: One entry per active section, each with its stories.
          items:
            type: object
            properties:
              section:
                $ref: '#/components/schemas/Section'
              stories:
                type: array
                items:
                  $ref: '#/components/schemas/Story'
    Story:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        section:
          type: string
        summary:
          type: string
        body:
          type: string
          description: Full story body. Returned by single-story responses.
        url:
          type: string
          format: uri
        tags:
          type: array
          items:
            type: string
        publishedAt:
          type: string
          format: date-time
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: unauthorized
            message:
              type: string
              description: Human-readable error message.
              example: Invalid or missing API key. Include Authorization Bearer alnw_... header.
    Section:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        description:
          type: string
  responses:
    Unauthorized:
      description: API key missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: alnw_*
      description: API key issued from https://alignednews.com/account, presented as Authorization Bearer alnw_...
